:root {
    --white-color:#fff;
    --hover:#2196F3;
    --line-h1641:1.17;
    --color-text:#757575;
    --background:#2F303A;
    --filter-background: #F5F4FA;
    --default-color:#212121;
    --link-active:#f00;
    --studio-logo-color:#000000;
    --request-hover-color:#188CE8;
}

body {
    max-width: 1600px;
    font-family: 'Roboto' , sans-serif;
    color:var(--default-color);
    }
.container {
    display: flex;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto 0 auto;
}
.global-header {
    display: flex;
   border-bottom: 1px solid #ECECEC;
   height: 80px;
}
.global-header .container {
    align-items: center;
}
.logo-link {
    width: 145px;
   } 
.main-navigation ul {
    display: flex;
    padding-inline-start: 0;
}
.main-navigation ul li:first-child {
    width: 42px;
    margin-left: 93px;
    padding: 1px;
}
.main-navigation ul li:nth-child(2) {
    width: 58px;
    margin: auto 50px;
    padding: 1px;
}
.main-navigation ul li:last-child {
    width: 59px;
    padding: 1px;
}
.contact-header :first-child {
    width: 135px;
}
.contact-header :last-child {
    width: 113px;
    margin: 0 0 0 40px;
}
.logo {
    font-family: 'Raleway' , sans-serif;
    font-weight: 700;
    line-height: var(--line-h1641);
    letter-spacing: 0.78px;
    width: 145px;
    margin: 0 auto;
}    
.web-logo {
    color: var(--hover);
    font-family: 'Oleo Script', 'cursive';
    font-weight: 400;
}
.studio-logo-header {
    color: var(--studio-logo-color);
}
.footer .container .logo-link,
.global-header a {
    text-decoration: none;
}
.main-navigation a {
    color: var(--default-color);
}
.link-navigation:hover {
    color: var(--hover);
}
.link-navigation:active {
    color: var(--link-active);
}
.link-navigation:focus {
    color: var(--hover);
}
a.link-navigation.current {
    color: var(--hover);
}
.main-navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: var(--line-h1641);
    letter-spacing: 0.28px;
    width: 50%;
 }
.contact-header a {
    color: var(--color-text);
}   
.contact-header a:hover {
    color: var(--hover);
}
.contact-header a:focus {
    color: var(--hover);
}
.contact-header a:active {
    color: var(--link-active);
}
.contact-header {
    font-weight: 500;
    font-size: 14px;
    line-height: var(--line-h1641);
    color: var(--color-text);
    letter-spacing: 0.28px;
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.head {
    display: flex;
    background-color: var(--background);
    height: 600px;
    flex-direction: column;
    align-items: center;
}
#title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    color: var(--white-color);
    letter-spacing: 2.64px;
    width: 696px;
    height: 120px;
    margin-top: 106px;
}
.button-home {
    color: var(--white-color);
    background-color: var(--hover);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.96;
    width: 200px;
    height: 50px;
    border-radius: 4px;
      }
.button-home:hover {
    cursor: pointer;
    background-color: var(--request-hover-color);
    color: var(--white-color)
 } 
 .main-section {
    padding: 94px 0 94px 0;
 } 
 .main-section-list {
    display: flex;
    justify-content: center;
    margin: 0 0 0 -30px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
    letter-spacing: 0.42px;
 }
 .main-section-list li {
    margin-left: 30px;
    flex-basis: calc((100% - 120px) / 4);
     }
.what-we-do,
.our-team {
    flex-direction: column;
      }
.what-we-do {
    padding-bottom: 94px;
}
.what-we-do ul {
    display: flex;
    margin: 0;
    padding-left: 0;
}
.what-we-do ul li:nth-child(2) {
    margin: 0 30px;
}
.what-we-do-img,
.team-img {
    display: block;
    max-width: 100%;
    height: auto;
}
.main-titles {
    line-height: var(--line-h1641);
    margin: 0 0 10px 0;
}
.main-text {
    color: var(--color-text);
    line-height: 1.71;
    margin: 0;
}
.title-section {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 1.08px;
    margin: 0 auto 50px auto ;
}
.our-team {
    display: flex;
    background-color: var(--filter-background);
    padding: 94px 0 94px 0;
}
.our-team .team li:nth-child(-n + 3) {
    margin-right: 30px;
}
.members-details {
    background-color: #fff;
    box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F;
    padding: 30px 0;
    border-radius: 0px 0px 4px 4px;
}
.first-member-details h3 {
    width: 145px;
}
.second-member-details h3 {
    width: 86px;
}
.third-member-details h3 {
    width: 88px;
}
.fourth-member-details h3 {
    width: 91px;
}
.team-members {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    margin: 0 auto 10px;
    white-space: nowrap;
      }
.first-member-details p {
   width: 130px;
   }
.second-member-details p {
    width: 147px;
}
.third-member-details p {
    width: 76px;
}
.fourth-member-details p {
    width: 87px;
}
.team-function {
    color: var(--color-text);
    line-height: 1.17;
    letter-spacing: 0.48px;
    margin: 0 auto;
    white-space: nowrap;
    }
.footer .container {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer {
    height: 251px;
    background-color: var(--background);
}  
.studio-logo-footer {
    color: var(--white-color);
}
.adress {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.42px;
    padding-top: 28px;
    max-width: 231px;
}
.adress p {
    width: 207px;
    margin: 0;
}
.contact-footer {
    display: flex;
    flex-direction: column;
    width: 231px;
}
.contact-footer a:first-child {
    margin: 12px 0 12px 0;
}
.contact-footer a {
    text-decoration: none;
    color: var(--white-color);
    opacity: 0.6;
    line-height: 1.14;
}
.contact-footer a:hover {
    color: var(--hover);
}
.contact-footer a:focus {
    color: var(--hover);
}
.contact-footer a:active {
    color: var(--link-active);
}
.portofolio-section {
    padding: 94px 0;
}
.filter-button:hover {
    cursor: pointer;
    background-color: var(--hover);
    color: var(--white-color);
}
.filter-button:focus {
    background-color: var(--hover);
    color: var(--white-color);
}
.filter-button:active {
    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
}
.filter-button {
    color: var(--link-color);
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.48px;
    text-align: center;
    background-color: var(--filter-background);
    border-radius: 4px;
    border: 0;
    position: relative;
}
.filter-bar,
.portofolio,
.main-section-list,
.main-navigation ul,
.what-we-do ul,
.our-team ul
 {
    list-style-type: none;
}
.portofolio-ithems {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1.08%;
    margin: 0;
    width: 320px;
    }
.portofolio-projects {
    font-size: 14px;
    line-height: 1.875;
    letter-spacing: 0.48%;
    color: var(--color-text);
    margin: 0;
    width: 320px;
}
.main {
    flex-direction: column;
}
.filter-bar {
    display: flex;
    justify-content: center;
    padding: 0;
}
.filter-bar li:first-child .filter-button {
    width: 64px;
}
.filter-bar li:nth-child(2) .filter-button {
    width: 120px;
    margin: 0 8px;    
}
.filter-bar li:nth-child(3) .filter-button {
    width: 83px;
}
.filter-bar li:nth-child(4) .filter-button {
    width: 96px;
    margin: 0 8px;
}
.filter-bar li:last-child .filter-button {
    width: 121px;
}
.portofolio {
    display: flex;
    flex-wrap: wrap;
    margin: -30px 0 0 -30px;
    padding: 50px 0 0;
}
.portofolio li {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
    
}
.portofolio-img {
    display: block;
    max-width: 100%;
    height: auto;
}
.images-details {
    padding: 20px 23px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}